# DataSource

spring.datasource.url = jdbc:mysql://{{ inventory_hostname }}:{{ mport }}/ApolloConfigDB?useSSL=false&characterEncoding=utf8
spring.datasource.username = sqladm
spring.datasource.password = {{ admpass }}